---
import Base from "@layouts/Base.astro";
import {
  getAllArticlesWithTag,
  getAllUniqueArticleTags,
} from "@lib/collections/articles";
import { type CollectionEntry } from "astro:content";
export async function getStaticPaths() {
  const uniqueTags = await getAllUniqueArticleTags();

  return await Promise.all(
    uniqueTags.map(async (tag) => ({
      params: { tag },
      props: {
        articles: await getAllArticlesWithTag(tag),
      },
    }))
  );
}

interface Props {
  tag: string;
  articles: CollectionEntry<"articles">[];
}

const { tag } = Astro.params;
const { articles } = Astro.props;
---

<Base title={`Articles with ${tag} tag`}>
  <main>
    <h1>Tag: {tag}</h1>
    <p>
      A list of articles that have been tagged: <a href={`/tags/${tag}`}
        >{tag}</a
      >
    </p>

    <ul class="menu">
      {
        articles.map((article) => (
          <li>
            <a href={`/${article.slug}`}>{article.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Base>
