---
import Base from "@layouts/Base.astro";
import {
  getAllArticlesWithTag,
  getAllUniqueArticleTags,
} from "@lib/collections/articles";
import { type CollectionEntry } from "astro:content";
import type { Tag } from "@lib/types";

export async function getStaticPaths() {
  const uniqueTags = await getAllUniqueArticleTags();

  return await Promise.all(
    uniqueTags.map(async ({ tag, slug }) => ({
      params: { tag: slug },
      props: {
        articles: await getAllArticlesWithTag(tag),
        tag,
      },
    }))
  );
}

interface Props {
  tag: Tag;
  articles: CollectionEntry<"articles">[];
}

const { articles, tag: tagItem } = Astro.props;
---

<Base title={`Articles with ${tagItem.pretty} tag`}>
  <main>
    <h1>Tag: {tagItem.pretty}</h1>
    <p>
      A list of articles that have been tagged: <a
        href={`/tags/${tagItem.slug}`}>{tagItem.pretty}</a
      >
    </p>

    <ul class="menu">
      {
        articles.map((article) => (
          <li>
            <a href={`/${article.slug}`} data-astro-prefetch>
              {article.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Base>
