---
import Base from "@layouts/Base.astro";
import {
  getAllArticlesWithTag,
  getAllUniqueArticleTags,
} from "@lib/collections/articles";
import type { Tag } from "@lib/types";

const { tag: tagParam } = Astro.params;

const uniqueTags = await getAllUniqueArticleTags();

const tag = uniqueTags.find((tag) => tag.slug === tagParam);

if (!tag) {
  return Astro.redirect("/404");
}

const articles = await getAllArticlesWithTag(tag.tag);
---

<Base title={`Articles with ${tag.pretty} tag`}>
  <main>
    <h1>Tag: {tag.pretty}</h1>
    <p>
      A list of articles that have been tagged: <a href={`/tags/${tag.slug}`}
        >{tag.pretty}</a
      >
    </p>

    <ul class="menu">
      {
        articles.map((article) => (
          <li>
            <a href={`/${article.slug}`} data-astro-prefetch>
              {article.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Base>
