---
import type { CollectionEntry } from "astro:content";
import type { Page } from "astro";
import cn from "@lib/cx";

type Props = {
  page: Page<CollectionEntry<"articles">>;
};

const { page } = Astro.props;

const pages = [];

const MAX_EDGE_NUMBER = 5;

if (page.currentPage < MAX_EDGE_NUMBER) {
  pages.push(1, 2, 3, 4, 5);
} else if (page.currentPage > page.lastPage - (MAX_EDGE_NUMBER - 1)) {
  pages.push(
    page.lastPage - 4,
    page.lastPage - 3,
    page.lastPage - 2,
    page.lastPage - 1,
    page.lastPage
  );
} else {
  pages.push(page.currentPage - 1, page.currentPage, page.currentPage + 1);
}

const showFirstDots = page.currentPage >= MAX_EDGE_NUMBER;
const showSecondDots = page.currentPage <= page.lastPage - (MAX_EDGE_NUMBER - 1);

// I need to colour in the svg's so that's why the svg's are pasted in here
---

<div class="pagination">
  <a href={page.url.prev}>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M15 6l-6 6l6 6"></path>
    </svg>
  </a>
  {
    showFirstDots && (
      <a href="/articles/1" class="no-visit">
        1
      </a>
    )
  }
  {showFirstDots && <a class="no-hover">...</a>}
  {
    pages.map((pageNumber) => (
      <a
        href={`/articles/${pageNumber}`}
        class={cn('no-visit', page.currentPage === pageNumber ? 'active' : '')}
      >
        {pageNumber}
      </a>
    ))
  }
  {showSecondDots && <a class="no-hover">...</a>}
  {
    showSecondDots && (
      <a href={`/articles/${page.lastPage}`} class="no-visit">
        {page.lastPage}
      </a>
    )
  }
  <a href={page.url.next}>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M9 6l6 6l-6 6"></path>
    </svg>
  </a>
</div>
